GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxxxxxxxxxx
MONGO_CONNECTION_STRING=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority

MONGO_DB_NAME=depato_store
MONGO_PRODUCT_COLLECTION=products
MONGO_COMMON_COLLECTION=common_information
PRODUCT_VECTOR_INDEX=vector_index
COMMON_VECTOR_INDEX=common_vector_index

EMBEDDING_MODEL_NAME=sentence-transformers/all-mpnet-base-v2
GROQ_MODEL=llama-3.3-70b-versatile
ADK_MODEL=groq/meta-llama/llama-4-scout-17b-16e-instruct
